@import "../../assets/styles/config";

.RichShowPage {
  width: 70%;
  min-height: calc(100vh - 30.2rem);
  margin: 1rem auto;
  background: #fff;
  border-radius: 10px;
  @include mediaMd {
    width: 90%;
  }
  @include mediaSm {
    min-height: calc(100vh - 23.2rem);
    width: 90%;
  }

  .RichShowPageImageContainer {
    width: 100%;
    height: auto;
    .RichShowPageImage {
      max-height: 25rem;
      max-width: 90%;
    }
  }

  hr {
    margin: 1rem;
  }

  .RichShowPageHeader {
    color: $secondary_purple;
  }

  .fa-cart-plus {
    cursor: pointer;
    color: $secondary_purple;
    font-size: 1.5rem;

    @include mediaSm {
      font-size: 1rem;
    }
  }
}
