@import "../../assets/styles/config";

.RichCompensation {
  width: 80%;
  margin: 1rem auto 0;
  padding-bottom: 1rem;
  .RichCompensationHeader {
    width: 100%;
    font-size: 2rem;
    border-bottom: $base_border;
    color: $primary_purple;

    @include mediaMd {
      font-size: 1.5rem;
    }
  }

  .RichCompensationContent {
    line-height: 1.5rem;
    font-size: 1.2rem;

    ul {
      margin-left: 1rem;
      list-style: disc;
      font-size: 1rem;
    }
    ol {
      margin-left: 1rem;
      font-size: 1rem;
    }

    h1,
    h3,
    h4,
    p {
      margin: 1rem 0;
    }
    p {
      color: $primary_text_color;
    }

    .CompensationImages {
      width: 200px;
      height: 200px;

      &.Image1 {
        float: right;
      }

      &.Image2 {
        width: 400px;
        height: 300px;

        @include mediaSm {
          width: 300px;
          height: 200px;
        }
      }
    }

    .RichCompensationImageContainer {
      margin: 1rem 0;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .RichCompensationTable {
    &table {
      width: 100%;
      border: solid 1px $primary_text_color;
      margin: 0 auto;
      @include mediaMd {
        width: 90%;
      }
    }

    th,
    td {
      font-size: 0.9rem;
      height: 2rem;
      width: 2%;
      margin: 1.6%;
      border: solid 1px $primary_text_color;
      text-align: center;
      @include mediaMd {
        font-size: 0.8rem;
      }
      @include mediaSm {
        font-size: 0.7rem;
      }
    }
  }
}
