@import "../../assets/styles/config";

.HeaderContainer {
  display: flex;
  flex-flow: column nowrap;
  height: 6rem;
  width: 100%;
  background: $primary_background;
  background-image: $footer_image;
  position: fixed;
  z-index: 6;

  .HeaderLogoContainer {
    height: 4rem;
    display: flex;
    justify-content: center;
    border-bottom: $primary_purple solid 2px;

    .Logo {
      margin: 0;
      padding: 0;
    }
  }

  .HeaderNav {
    display: flex;
    flex-flow: row nowrap;
    height: 2rem;
    justify-content: space-between;
    border-bottom: $primary_purple solid 2px;

    .HeaderNavLink,
    .HeaderNavSocial {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    .HeaderNavLink {
      @include mediaMd {
        display: none;
      }
    }

    .HeaderNavLinkDropdown {
      margin: 0;
      position: absolute;
      right: 0;
      top: 6rem;
      width: 10rem;
      height: calc(100vh - 6rem);
      display: none;
      flex-flow: column nowrap;
      background: $primary_background;
      background-image: $footer_image;
      border-bottom: solid 3px $primary_purple;
      justify-content: center;
      align-items: center;
      z-index: 5;

      @include mediaMd {
        display: flex;
      }
    }
  }

  .links,
  .Links {
    padding: 0.5rem;
  }

  .Link {
    color: #fff;
    &:hover {
      color: $secondary_purple;
    }
  }

  .HeaderNavSocial {
    padding-right: 3rem;
  }
  .ActiveLink {
    color: $secondary_purple;
  }
}

.Drop {
  animation-name: drop;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

.links.dropLinks {
  &.show {
    animation-name: glide;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    width: 10rem;
    opacity: 1;
  }
}
@keyframes glide {
  0% {
    transform: translate3d(0px, 200px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@for $x from 1 through 7 {
  .links.show:nth-child(#{$x}) {
    animation-delay: $x * 0.1s;
  }
}
