@import "../../assets/styles/config";

.CollectionPreview {
  width: 90%;
  margin: 2rem auto;
  background: primary_background;
  @include mediaMd {
    width: 100%;
  }

  .CollectionPreviewCategory {
    width: 98%;
    margin: 0 auto;
    border-bottom: solid 2px $primary_purple;
    color: $primary_purple;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;

    .Category {
      font-size: 2rem;
      font-weight: 600;

      @include mediaMd {
        padding-left: 1rem;
        font-size: 1.8rem;
      }
    }
    .Arrival {
      font-size: 0.8rem;
      font-weight: 600;
      padding-right: 1rem;
    }
  }

  .CollectionPreviewItems {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-gap: 6%;

    @include mediaMd {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      overflow-x: auto;
      flex-flow: row nowrap;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
