@import "../../assets/styles/config";

.CollectionPreview {
  width: 90%;
  margin: 2rem auto;
  background: primary_background;
  @include mediaMd {
    width: 100%;
  }

  .CollectionPreviewCategory {
    width: 100%;
    border-bottom: solid 2px $primary_purple;
    color: $primary_purple;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;

    .Category {
      font-size: 2rem;
      font-weight: 600;

      @include mediaMd {
        padding-left: 1rem;
        font-size: 1.8rem;
      }
    }
    .Arrival {
      font-size: 0.8rem;
      font-weight: 600;
    }
  }

  .CollectionPreviewItems {
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include mediaMd {
      justify-content: center;
    }
  }
}
