@import "../../assets/styles/config";

.CarouselToggler {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  top: 0;
  color: $secondary_purple;
  cursor: pointer;
}
