@import "../../assets/styles/config";

.EditorWrapper {
  width: 100%;
  display: block;
  min-height: 9rem;
  border-radius: 00 3px 3px;
  background-color: #fff;
  padding: 5px;
  padding-left: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0px 0px 3px 1px rgba(15, 15, 15, 0.17);

  ul {
    list-style: disc;
  }

  li {
    margin: 1rem;
  }

  @include mediaSm {
    font-size: 0.8rem;
  }
}

.EditorPreview {
  max-height: 9rem;
  overflow: hidden;

  li {
    margin: 0.3rem;
  }
}

.superFancyBlockquote {
  color: #999;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  text-align: center;
}
.myUnorderedListItem {
  margin-left: 1rem;
}
